<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>添加备注</title>
    <style>
        body {
            /*margin-top: 30px;*/
        }
    </style>
</head>
<body>

<h1 class="text-center">便签列表</h1>

<div class="container">
    {% for note in notes %}
    <div class="panel panel-success">
        <div class="panel-heading"> {{ note.title }}</div>
        <div class="panel-body">
            {{ note.content }}
        </div>
    </div>
    {% end %}
</div>

</body>
</html>